@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Services</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="~/images/favicon.ico">
		<link rel="shortcut icon" href="~/images/favicon.ico" />
		<link rel="stylesheet" href="~/css/style.css">
		<script src="~/js/jquery.js"></script>
		<script src="~/js/jquery-migrate-1.2.1.js"></script>
		<script src="~/js/script.js"></script>
		<script src="~/js/superfish.js"></script>
		<script src="~/js/jquery.ui.totop.js"></script>
		<script src="~/js/jquery.equalheights.js"></script>
		<script src="~/js/jquery.mobilemenu.js"></script>
		<script src="~/js/jquery.easing.1.3.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
								<li><a asp-controller="Home" asp-action="Index">Bosh Sahifa</a></li>
								<li><a asp-controller="Home" asp-action="About">Biz Haqimizda</a></li>
								<li><a asp-controller="Home" asp-action="Cars">Moshinalar</a></li>
								<li><a asp-controller="Home" asp-action="Services">Ma'lumotlar</a></li>
								<li><a asp-controller="Home" asp-action="Contacts">Xizmatlar</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index.html">
								<img src="~/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates  TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
					<h3>Xizmatlar haqida umumiy ma'lumot</h3>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img1.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Ko'p odam yoki katta yuk bilan sayohat qilish uchun keng va qulay avtomobillar.</a>
								</div>
							Yandex Go taksi xizmatida  krossover avtomobillari keng va qulay sayohat qilish uchun taklif etiladi. Bu xizmat, asosan, ko'p odam yoki katta yuk bilan sayohat qiladigan foydalanuvchilar uchun ideal.
							<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img2.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Yuqori darajadagi qulaylik va sifatni qadrlovchilar uchun Biznes klassdagi avtomobillar xizmat ko'rsatadi. </a>
								</div>
							Bu xizmat ko'proq biznes uchrashuvlari, muhim tadbirlar yoki maxsus mehmonlarni kutib olish uchun mo'ljallangan. Premium klass avtomobillari zamonaviy, keng va hashamatli bo'lib, professional haydovchilar xizmat ko'rsatadi.
							<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img3.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Yandex Go taksisida yo‘lovchilarning xavfsizligini ta’minlash uchun maxsus xizmat. </a>
								</div>
							Haydovchilar xavfsizlik standartlariga rioya qilib, ehtiyotkor va mas'uliyatli tarzda harakatlanadi. Ilova orqali yo‘nalishni kuzatish, haydovchi haqida ma'lumot olish va safar tafsilotlarini yaqinlaringiz bilan ulashish imkoniyati mavjud. Bu xizmat yo‘lovchilarga yanada xotirjam va ishonchli safar qilish imkonini beradi.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img4.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Yandex Go ilovasi orqali taqdim etiladigan ovqat yetkazib berish xizmati ham mavjud. </a>
								</div>
							Foydalanuvchilarga restoranlardan yoki kafelardan tez va oson tarzda ovqat buyurtma qilish va uni manzilga yetkazib berishni ta'minlaydi. Bu xizmat juda qulay, ayniqsa ovqatlanish uchun vaqt topolmaydigan yoki uydan chiqishni istamagan foydalanuvchilar uchun.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img5.jpg" alt="">
								<div class="text1 color2">
									<a href="#">Shaxsiy xizmatlar </a>
								</div>
							Yandex Go da maxsus ehtiyojlar uchun xizmatlar mavjud. Masalan, haydovchidan yordam so'rash yoki yuk tashishda qo'shimcha xizmatlar talab qilish mumkin.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img6.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Hujjatlar yoki kichik buyumlarni tezkor yetkazib berish xizmati. </a>
								</div>
							Yandex Go taksi xizmatida hujjatlar yoki kichik buyumlarni tezkor yetkazib berish uchun maxsus xizmati mavjud. Bu xizmat foydalanuvchilarga qisqa vaqt ichida o'z buyumlarini, hujjatlarini yoki boshqa zarur narsalarni ishonchli va tez yetkazib berish imkoniyatini taqdim etadi.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img7.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Shahar tashqarisiga yoki uzoq masofalarga borish uchun taksi xizmati. </a>
								</div>
							Bu xizmat ko'proq uzoq masofaga, viloyatlarga yoki boshqa shaharlarga borish zarurati tug'ilgan foydalanuvchilar uchun qulaydir.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img8.jpg" alt="">
								<div class="text1 color2">
								<a href="#">Yandex Go taksi xizmati shahar ichida yoki tashqarisida qulay va tezkor transportni ta'minlaydi. </a>
								</div>
							Start — arzonroq tarifdagi avtomobillar.
							Komfort — qo'shimcha qulayliklarga ega avtomobillar.
							Biznes — premium klassdagi avtomobillar.
							Shahar tashqarisi — uzoq masofalar va shahar tashqarisiga sayohat.
								<br>
							</div>
						</div>
					</div>
					<div class="grid_4">
						<div class="box">
							<div class="maxheight">
								<img src="~/images/page4_img9.jpg" alt="">
								<div class="text1 color2">
									<a href="#">Bolalar uchun maxsus qulay avtomobillar. </a>
								</div>
							Bolalar uchun maxsus jihozlangan avtomobillar, masalan, bolalar o'rindig'i va xavfsizlik kamarlari bilan ta'minlangan xizmat. Ota-onalar bolalarni xavfsiz yetkazib berish uchun bu xizmatdan foydalanishlari mumkin.
								<br>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
				<div class="f_phone"><span>Bizga qo'ng'iroq qiling:</span> +998 88 870 14 14</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Yandex<span class="color1">GO</span></div>
						&copy; 2024	| <a href="#">Privacy Policy</a> </div> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>